build/*
dist/*
nbproject/private/*
.dep.inc

latex/*.aux
latex/*.toc
latex/*.bbl
latex/*.bcf
latex/*.blg
latex/*.log
#latex/main.out
#latex/main.run.xml
#latex/main.pdf
latex/main.*
!latex/main.tex
latex/*.lof

doc/latex/
doc/xml/
doc/html/

sync/ev3dev*
brickstrap
